apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Values.cronJob.name }}
  namespace: {{ .Values.cronJob.namespace }}
spec:
  schedule: {{ .Values.cronJob.schedule }}
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          automountServiceAccountToken: false
          securityContext:
            runAsNonRoot: true
            runAsUser: 65532
            seccompProfile:
              type: RuntimeDefault
          serviceAccountName: {{ .Values.serviceAccount.name }}
          restartPolicy: OnFailure
          containers:
            - name: kubecost-s3-exporter
              image: {{ .Values.image }}
              imagePullPolicy: {{ .Values.imagePullPolicy }}
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities:
                  drop:
                    - ALL
              env:
                {{- range .Values.env }}
                - name: "{{ .name }}"
                  value: "{{ .value }}"
                {{- end }}
              volumeMounts:
                - mountPath: /tmp
                  name: kubecost-s3-exporter
          volumes:
          - name: kubecost-s3-exporter
            emptyDir:
              sizeLimit: {{ .Values.ephemeralVolumeSize }}