# Copyright 2023 Amazon.com and its affiliates; all rights reserved. This file is Amazon Web Services Content and may not be duplicated or distributed without permission.

# Default values for kubecost-s3-exporter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

namespace: "kubecost-s3-exporter"

image: "<registry_url>/<repo>:<tag>"
imagePullPolicy: Always
ephemeralVolumeSize: "50Mi"

cronJob:
  name: "kubecost-s3-exporter"
  schedule: "0 0 * * *"

serviceAccount:
  create: true
  name: "kubecost-s3-exporter"
  role: "" # Example: arn:aws:iam::<account_id>:role/<role_name>

env:
  - name: "S3_BUCKET_NAME"
    value: "kubecost-data"
  - name: "KUBECOST_API_ENDPOINT"
    value: "http://kubecost-cost-analyzer.kubecost:9090" # Change to your Kubecost endpoint if necessary
  - name: "BACKFILL_PERIOD_DAYS"
    value: 15
  - name: "CLUSTER_ID"
    value: "<cluster_arn>" # Change to your EKS cluster ARN
  - name: "IRSA_PARENT_IAM_ROLE_ARN"
    value: ""
  - name: "AGGREGATION"
    value: "container"
  - name: "KUBECOST_ALLOCATION_API_PAGINATE"
    value: "False"
  - name: "CONNECTION_TIMEOUT"
    value: 10
  - name: "KUBECOST_ALLOCATION_API_READ_TIMEOUT"
    value: 60
  - name: "TLS_VERIFY"
    value: "True"
  - name: "KUBECOST_CA_CERTIFICATE_SECRET_NAME"
    value: ""
  - name: "KUBECOST_CA_CERTIFICATE_SECRET_REGION"
    value: ""
  - name: "LABELS"
    value: "" # Comma-separated list of labels. Example: "app, chart"
  - name: "ANNOTATIONS"
    value: "" # Comma-separated list of annotations. Example: "kubernetes.io/psp, eks.amazonaws.com/compute_type"
  - name: "PYTHONUNBUFFERED"
    value: "1"