# Copyright 2023 Amazon.com and its affiliates; all rights reserved. This file is Amazon Web Services Content and may not be duplicated or distributed without permission.

boto3==1.34.11
botocore==1.34.11
pandas==2.1.4
pyarrow==14.0.2
requests==2.31.0